<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>hi</title>
		<script type="text/javascript" src="../static/js/echarts.min.js"></script>
		<script type="text/javascript" src="../static/js/echarts-gl.min.js"></script>
		<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
	</head>
	<body>
	<input type="text" id="inputSearch" placeholder="请输入名称"><button onclick="search()"  id="btnSearch">搜索</button>
	<div id="TwoLineChart" style="width: 2000px;height:800px;"></div>
	
	<script src="../static/js/timeflow.js"></script>
	</body>
</html>