<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>hi</title>
		<script type="text/javascript" src="../static/js/echarts.min.js"></script>
		<script type="text/javascript" src="../static/js/echarts-gl.min.js"></script>
		<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
	</head>
	<body>
	<!--定义一个Echarts容器-->
	<h1>hi</h1>
	<div id="TwoLineChart" style="width: 600px;height:400px;"></div>
	
	<script src="../static/js/timeflow.js"></script>
	</body>
</html>